*.la
*.lo
*.o
/.deps/
/.libs/
/.pc/
/aclocal.m4
/ar-lib
/autom4te.cache/
/clippoly.pc
/clippolytest
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h1
/test*.log
/test*.trs
/test-driver
Makefile
Makefile.in
